.page.theme_dark {
  --accentColor: #ff0070;
  --accentColorWithBackground: #000028;
  --titleColor: #db00ff;
  --titleShadowColor: #ff0070;
  --textColor: #f1b2ce;
  --buttonHoverColor: #ff007066;
  --headerColor: #ff0070;
  --focusColor: #ff0070;
  --menuColor: #ff0070;
  --headerColor: #ff0070;
  --recColor: #ff0070;
  --image: url('../images/cover-image-dark.png');
  --decorColor: #ff0070;
}
