.page.theme_light {
  --accentColor: #ff8dcb;
  --accentColorWithBackground: #353430;
  --titleColor: #ffc2e6;
  --textColor: #353430;
  --buttonHoverColor: #32312d66;
  --focusColor: #353430;
  --menuColor: #353430;
  --recColor: transparent;
  --headerColor: #353430;
  --image: url(../images/cover-image-light.png);
  --decorColor: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --accentColor: #ff8dcb;
    --accentColorWithBackground: #353430;
    --titleColor: #ffc2e6;
    --textColor: #353430;
    --buttonHoverColor: #32312d66;
    --focusColor: #353430;
    --menuColor: #353430;
    --recColor: transparent;
    --headerColor: #353430;
    --image: url(../images/cover-image-light.png);
    --decorColor: #353430;
  }
}
