/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --titleColor: #ffc2e6;
  --mainColor: #353430;
  --secondaryColor: var(--mainColor);
  --textColorWithBackground: #000028;
  --backgroundColor: #ff8dcb;
  --backgroundImage: url(/images/cover-image-light.png);
  --mainBackgroundColor: #fff1f7;
  --linkShadow: 4px 4px 0px var(--backgroundColor);
  .rec::before {
    content: "REC";
    color: transparent;
    line-height: 24px;
  }
  .rec::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px transparent;
    background: transparent;
    inline-size: 9px;
    block-size: 9px;
  }
}
