/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  margin: 0 auto;
  color: var(--textColor);
  font-family: var(--mainFont);
  font-size: 18px;
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--backgroundColor);
}

.header {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decorColor);
  border-block-start: 1px solid var(--decorColor);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decorColor);
  border-block-end: 1px solid var(--decorColor);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec {
  position: absolute;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 20px;
  inset-block-start: 12px;
}

@media (width >= 768px) {
  .rec {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }
}

.rec::before {
  content: "REC";
  color: var(--recColor);
  line-height: 24px;
}

.rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--recColor);
  background: var(--recColor);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin: 5px 0 0;
}

@media (min-width: 768px) {
  .header__theme-menu {
    margin-top: 115px;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .header__theme-menu {
    margin-block-start: 0;
    margin-block-end: 215px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

@media (width > 768px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  outline: 1px solid transparent;
  border: none;
  color: var(--menuColor);
  line-height: 18px;
  padding: 0px 13px;
  min-height: 26px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--buttonHoverColor);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menuColor);
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menuColor);
  pointer-events: none;
}

.header__title {
  /* margin: 15px 0 0; */
  color: var(--titleColor);
  text-shadow: 4px 4px 0px var(--titleShadowColor);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin: 20px 0 0 -20px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    margin: 45px 0 115px -20px;
  }
}
.header__second_title {
  justify-self: end;
  margin-bottom: 30px;
  padding-right: 50px;
  max-inline-size: 364px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header__second_title {
    margin-bottom: 115px;
  }
}

@media (min-width: 1024px) {
  .header__second_title {
    margin: 0;
    padding: 0;
    max-inline-size: 491px;
  }
}


.text_with_background {
  color: var(--accentColorWithBackground);
  background-color: var(--accentColor);
}


.link {
  text-shadow: var(--linkShadow);
  text-decoration: none;
}

.link:hover {
  border-bottom: 1px solid var(--mainColor);
  cursor: pointer;
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--mainColor);
}

.main__content {
  background-color: var(--mainBackgroundColor);
  display: grid;
  padding: 0 10px;
}


@media (width >= 768px) {
  .main__content {
    gap: 80px;
    padding: 0 20px;
  }
}

@media (width >= 1024px) {
  .main__content {
    gap: 80px;
    padding: 60px 20px;
  }
}

.section {
  display: grid;
  gap: 20px;
}

.section_two {
  display: grid;
}

.section__second_header {
  margin-bottom: 10px;
}


@media (width >= 768px) {
  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
  .section_two_list {
    grid-column-start: span 2;
  }
}
@media (width >= 1024px) {
.section {
  column-gap: 30px;
}
  .section_two_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.section_one {
  gap:10px;
  display: grid;
}

.section_header {
  color: var(--headerColor);
  margin-top: 40px;
  margin-bottom: 20px;

}

@media (width >= 768px) {
  .section_header {
    min-width: 236px;
  }
}

.section_one_list {
  display: grid;
  gap: 20px;
}




@media (width >= 768px) {
  .section_one {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }
}

.section__paragraph {
  margin-bottom: 20px;
}

.section__tip {
  margin-bottom: 10px;
  font-weight: 400;
}

.section__image {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

@media (width >= 768px) {
  .section__gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .img__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .img__list-item:first-child,
  .img__list-item:last-child {
    grid-column-start: span 2;
  }

  .img__list-item:nth-child(2),
  .img__list-item:nth-child(3) {
    grid-row-start: span 2;
  }
}

.footer {
  display: grid;
  min-block-size: 100vh;
  justify-items: center;
  align-items: center;
  background-color: var(--mainBackgroundColor);
}
